<div class="col-md-12">
  <div class="well" >
    <div class="media-left">
      <img src="{{$ctrl.post.image_url}}" class="media-object">
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        {{$ctrl.post.title}}
        <a ng-click="$ctrl.vote(post, true)"><i class="glyphicon glyphicon-arrow-up"></i></a>
        <a ng-click="$ctrl.vote(post, false)"><i class="glyphicon glyphicon-arrow-down"></i></a>
        {{$ctrl.post.vote_count}}
      </h4>
      <div class="text-right" >
        {{$ctrl.post.author}}
      </div>
      <a ui-sref="editPost({id: post.id})">edit</a>
      <p>
        {{$ctrl.post.body}}
      </p>
      <div>
        <span am-time-ago="$ctrl.post.created_at"></span>
        |
        <i class="glyphicon glyphicon-comment"></i>
        <a ng-click="post.newCommentForm = !post.newCommentForm">
          <ng-pluralize count="{{$ctrl.post.comments.length}}"
            when="{'0': '0 Comments',
             'one': '1 Comment',
             'other': '{} Comments'}">
          </ng-pluralize>
        </a>
      </div>
      <div class="row" ng-if="post.newCommentForm">
        <div class="col-md-offset-1">
          <hr>
          <div ng-repeat = "comment in $ctrl.post.comments">
            <p >
              {{comment.content}}
            </p>
          </div>

          <form class="form-inline" novalidate name="$ctrl.newCommentForm" >
            <div class="form-group">
              <input class="form-control" ng-model="comment.content" required name="comment-content" ng-class="{'has-error' : $ctrl.newCommentForm.content.$invalid}">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary" ng-click="$ctrl.addPostComment(post, post.comment)" ng-disabled="$ctrl.newCommentForm.$invalid">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
